<div class="commenter">
  <strong>Commenter:</strong>
  <span><%= comment.commenter %></span>
</div>

<div class="comment">
  <strong>Comment:</strong>
  <p><%= comment.body %></p>
</div>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], class: "btn btn-primary", method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>

<style type="text/css">
  .commenter span {
    color: red;
    margin: 0 10px;
  }
  .comment p {
    color: gray;
    margin: 10px 20px;
    display: inline-block;
  }
</style>