<%= form_for([@article, @article.comments.build], class: 'form-group') do |f| %>
    <p>
      <%= f.label :commenter %>
      <%= f.text_field :commenter, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, cols: 20, rows: 15, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit class: 'btn btn-primary' %>
    </p>

<% end %>