<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @welcome.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @welcome.age %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
