/* clear the defafult stylesheet of the browser up */


html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure,
table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }

header, footer, section, article, aside, nav, address, figure,figcaption, menu, details { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; font-weight: normal; }

html, body, fieldset, img, iframe, abbr { border: 0; }

i, cite, em, var, address, dfn { font-style: normal; }

[hidefocus], summary { outline: 0; }

li { list-style: none; }

h1, h2, h3, h4, h5, h6, small { font-size: 100%; }

sup, sub { font-size: 83%; }

pre, code, kbd, samp { font-family: inherit; }

q:before, q:after { content: none; }

textarea { overflow: auto; resize: none; }

label, summary { cursor: default; }

a, button { cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: bold; }

del, ins, u, s, a, a:hover { text-decoration: none; }

body, textarea, input, button, select, keygen, legend { font: 12px/1.14 arial,\5b8b\4f53; color: #333; outline: 0; }

body { background: #fff; }

a, a:hover { color: #333; }

/* end of clearing the default stylesheet of the browser */


/* universal  */
body {
    font-size: 12px;
    font-family: 'Open Sans', arial, tahoma, sans-serif;
    background: url(/images/bg.png) repeat 0 0 fixed;
}


/* tetraceratops配色方案 */
.tetraceratops-green         { color: #7AB800      !important; }
.tetraceratops-green-bg      { background: #7AB800 !important; }
.tetraceratops-gray          { color: #AAAAAA      !important; }
.tetraceratops-gray-bg       { background: #AAAAAA !important; }
.tetraceratops-red           { color: #CE1126      !important; }
.tetraceratops-red-bg        { background: #CE1126 !important; }
.tetraceratops-yellow        { color: #F2AF00      !important; }
.tetraceratops-yellow-bg     { background: #F2AF00 !important; }
.tetraceratops-orange        { color: #FF7700      !important; }
.tetraceratops-orange-bg     { background: #FF7700 !important; }
.tetraceratops-bondi-blue    { color: #009BBB      !important; }
.tetraceratops-bondi-blue-bg { background: #009BBB !important; }
.tetraceratops-blue          { color: #1F9DFA      !important; }
.tetraceratops-blue-bg       { background: #1F9DFA !important; }
.tetraceratops-gray-0        { color: #EEEEEE      !important; }
.tetraceratops-gray-0-bg     { background: #EEEEEE !important; }
.tetraceratops-gray-1        { color: #E4E4E4      !important; }
.tetraceratops-gray-1-bg     { background: #E4E4E4 !important; }
.tetraceratops-gray-2        { color: #CCCCCC      !important; }
.tetraceratops-gray-2-bg     { background: #CCCCCC !important; }
.tetraceratops-gray-3        { color: #848484      !important; }
.tetraceratops-gray-3-bg     { background: #848484 !important; }
.tetraceratops-gray-4        { color: #6B6B6B      !important; }
.tetraceratops-gray-4-bg     { background: #6B6B6B !important; }
.tetraceratops-gray-5        { color: #444444      !important; }
.tetraceratops-gray-5-bg     { background: #444444 !important; }
.tetraceratops-gray-6        { color: #262626      !important; }
.tetraceratops-gray-6-bg     { background: #262626 !important; }
.tetraceratops-gray-7        { color: #282828      !important; }
.tetraceratops-gray-7-bg     { background: #282828 !important; }








