/******************************
 *
 * public
 *
 ******************************/

.container {
    border: 1px solid #d4d4d4;
}


/******************************
 *
 * header
 *
 ******************************/
#top-bar {
    background-color: #fff;
    padding: 10px;
    margin: 20px auto -22px auto;
    border-radius: 4px;
}

#top-bar .search-query {
    border-radius: 15px;
}

#top-bar .input-group {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
}



#top-bar .input-group .search-tool {
    position: absolute;
    top: 7px;
    z-index: 20;
    right: 17px;
    content: "\f083";
    font-size: 20px;
    color: #8e8787;
}

#top-bar .navigation-btn {
    background-color: #a5a3a3;
}

#top-bar .navbar-inverse {
    background-color: #ffffff;
}

#top-bar .navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

#top-bar a:hover {
    color: #eb4800;
}

@media (min-width: 426px) {
    #top-bar .navbar-collapse li {
        display: inline-block;
        zoom: 1;
        border-right: 1px solid #cec6c6;
    }

    #top-bar .navbar-collapse {
        margin: 10px 0;
    }

    #top-bar .nav li a {
        padding: 1px 20px;
    }

    #top-bar .navbar-collapse li[class="last-one"] {
        border-right: #ffffff;
    }
}

@media (max-width: 425px) {

    #top-bar .navbar-collapse {
        position: absolute;
        top: 42px;
        right: 31px;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    #top-bar .navbar-collapse a {
        color: #0f0f0f;
    }

    #top-bar a:hover {
        color: #eb4800;
    }

    #top-bar .nav li a{
        width: 105px;
    }

}





/******************************
 *
 * main-content
 *
 ******************************/
#wrapper {
    background: #fff;
    margin: 20px auto 20px auto;
    padding: 0px 10px;
}

.navbar-inner.main-menu {
    height: 40px;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 47px;
    padding-top: 10px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 5px solid #eb4800;
    border-radius: 0;
    filter: none;
}

#menu .nav-tabs {
    padding: 10px;
    border-bottom: none;
}

#menu .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 15px;
}


#home-slider img {
    width: 100%;
    display: block;
}

#home-slider div.intro{
    position:absolute;
    top:20%;
    left:7%;
    opacity:.7;
}

#home-slider h1{
    background-color:#eb4800;
    color:#fff;
    padding:2px 7px;
    font-size:30px;
    text-transform:uppercase;
    float:left;
    width:auto;
}

#home-slider p{
    overflow:hidden;
    width:100%;
    margin-bottom:2px;
}

#home-slider span{
    background-color:#fff;
    color:#000;
    padding:2px 10px;
    line-height:30px;
    font-size:28px;
    float:left;
    width:auto;
}


section.header_text {
    text-align: center;
    padding: 15px 0 20px 0;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #fff;
}

/* title style for h4 tag
----------------------------------------------------------------------------- */
h4.title{
    background: url(/images/line_bar.png) 0 8px repeat-x;
    padding-bottom:5px;
    margin-bottom:15px;
    overflow:hidden;
    text-transform:uppercase;
    font-size:15px;
    min-height:27px;
    width:100%;
}
h4.title.m{
    margin-top:15px;
    overflow:hidden;
    width:100%;
}
h4.title strong{
    color:#eb4800;
}
h4.title span.text{
    background-color:#fff;
    padding-right:10px;
}
h4.title .left{
    background: url(/images/arrow-pleft.png) #eee no-repeat center center;
    margin-right:2px;
}
h4.title .right{
    background: url(/images/arrow-pright.png) #eee no-repeat center center;
}
h4.title .pull-right{
    background-color:#fff;
    padding-left:10px;
}
h4.title .left,h4.title .right{
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
h4.title .left:hover,h4.title .right:hover{
    background-color:#eb4800;
}
h4.title .button:hover{
    text-decoration: none;
}
/* end h4 title style */


/* product box
----------------------------------------------------------------------------- */
.product-box{
    text-align:center;
    padding-bottom:15px;
    position: relative;
    background-color:#f8f8f8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom:1px solid #eee;
}
.product-box span.sale_tag {
    background: url(../images/sprites.png) no-repeat scroll 0 0 transparent;
    height: 54px;
    position: absolute;
    width: 55px;
    z-index: 100;
    top:0;
    left:0;
}
.product-box:hover{
    background-color:#eb4800;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 5px #ccc;
}
.product-box:hover a{
    color:#fff !important;
}
.product-box img{
    overflow:hidden;
}
.product-box a.title{
    text-transform:uppercase;
    color:#111111;
    display:inline-block;
    font-weight:bold;
    font-size:11px;
    margin:15px 0 0px 0;
}
.product-box a.category{
    color:#eb4800;
}
.product-box p.price{
    font-size:20px;
    font-weight:300;
    padding:10px 0;
}
/* end product box */



/* feature box
----------------------------------------------------------------------------- */
.feature_box{
    margin-bottom:20px;
}
.feature_box h4{
    margin:0 0 10px 0;
    font-weight:normal;
}
.feature_box img{
    margin-bottom:10px;
    background-color:#eb4800;
    padding:25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.feature_box .service{
    margin-top:3px;
    padding:3px;
    text-align:center;
}
.feature_box .service:hover{
    background-color:#f4f4f4;
}
.feature_box .service:hover img{
    -webkit-transition: all 0.7s linear;
    -webkit-transform: rotate(6.28rad);
    transition: all 0.7s;
    transform: rorate(6.28rad);
}
.feature_box .service div{
    padding:5px 5px 0 5px;
}
/* end feature box */


/* our clients
----------------------------------------------------------------------------- */
section.our_client{
    margin-top:20px;
}
section.our_client .row{
    text-align:center;
}

section.our_client h4.title span {
    color: black;
    font-weight: bold;
}
/* end our clients */



/******************************
 *
 * footer
 *
 ******************************/

.footer {
    margin-top: -20px;
    padding-top: 10px;
    background-color: #242424;
    border-top: 1px solid #ddd;
    color: #777;
    padding: 10px 10px;
}

.footer .navigation li a {
    text-indent: 15px;
    color: #fff;
    display: block;
}

.footer h4 {
    padding: 0;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 10px 0 18px;
}

.footer-copyright {
    background-color: #111111;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}