<!-- START FOOTER -->
<div class="container footer">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <h4>Navigation</h4>
      <ul class="navigation">
        <li><a href="#">Homepage</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contac Us</a></li>
        <li><a href="#">Your Cart</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <h4>My Account</h4>
      <ul class="navigation">
        <li><a href="#">My Account</a></li>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Wish List</a></li>
        <li><a href="#">Newsletter</a></li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <p class="logo"><img src="/images/logo.png" class="site_logo" alt=""></p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
      <br/>
      <span class="social_icons">
        <a class="facebook" href="#">Facebook</a>
        <a class="twitter" href="#">Twitter</a>
        <a class="skype" href="#">Skype</a>
        <a class="vimeo" href="#">Vimeo</a>
      </span>
    </div>
  </div>
</div>

<div class="container footer-copyright">
  <span>&copy;2017 Tetraceratops team  All right reserved.</span>
</div>

<!-- END FOOTER -->