<!-- BEGIN HEADER -->
<div id="top-bar" class="container" role="navigation">

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
      <div class="input-group">
        <input type="text" class="form-control search-query" placeholder="Search...">
        <i class="icon-search search-tool"></i>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-4 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
      <div class="pull-right navbar-inverse" role="navigation">
        <div class="item-content">
          <div class="">
            <button type="button" class="navbar-toggle navigation-btn" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">切换导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Checkout</a></li>
              <li><a href="#">Login</a></li>
              <li class="last-one"><a href="#">Sign up</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!-- END HEADER -->