<!-- BEGIN WRAPPER -->
<div id="wrapper" class="container">
  <section class="navbar main-menu">
    <div class="navbar-inner main-menu">
      <a href="#" class="logo pull-left">
        <img src="/images/logo.png" class="site_log" alt="site log">
        <nav id="menu" class="pull-right">
          <ul class="nav nav-tabs">

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Woman</a>
              <ul class="dropdown-menu">
                <li><a href="#">Lacinia nibh</a></li>
                <li><a href="#">Eget molestie</a></li>
                <li><a href="#">Varius purus</a></li>
              </ul>
            </li>

            <li><a href="#">Man</a></li>

            <li class="dropdown"><a href="#">Sport</a>
              <ul class="dropdown-menu">
                <li><a href="#">Gifts and Tech</a></li>
                <li><a href="#">Ties and Hats</a></li>
                <li><a href="#">Cold Weather</a></li>
              </ul>
            </li>

            <li><a href="#">Hangbag</a></li>
            <li><a href="#">Best Seller</a></li>
            <li><a href="#">Top Seller</a></li>
          </ul>
        </nav>
      </a>
    </div>
  </section>


  <section id="home-slider" class="home-slider">
    <div id="homeSliderCarousel" class="carousel slide">
      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
        <li data-target="#homeSliderCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeSliderCarousel" data-slide-to="1"></li>
      </ol>
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/carousel/banner-1.jpg" alt="banner-1">
        </div>
        <div class="item">
          <img src="/images/carousel/banner-2.jpg" alt="banner-2">
          <div class="intro">
            <h1>Mid season sale</h1>
            <p><span>Up to 50% Off</span></p>
            <p><span>On selected items online and in stores</span></p>
          </div>
        </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class="carousel-control left" href="#homeSliderCarousel"
         data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homeSliderCarousel"
         data-slide="next">&rsaquo;</a>
    </div>
  </section>

  <section class="header_text">
    We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
    <br/>Don't miss to use our cheap abd best bootstrap templates.
  </section>

  <section class="main-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
              <span class="pull-right">
                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
              </span>
            </h4>

            <div id="myCarousel" class="myCarousel carousel slide">
              <div class="carousel-inner">

                <div class="active item">
                  <ul class="thumbnails">
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="/images/ladies/1.jpg" alt="" /></a></p>
                        <a href="#" class="title">Ut wisi enim ad</a><br/>
                        <a href="#" class="category">Commodo consequat</a>
                        <p class="price">$17.25</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="/images/ladies/2.jpg" alt="" /></a></p>
                        <a href="#" class="title">Quis nostrud exerci tation</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$32.50</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="/images/ladies/3.jpg" alt="" /></a></p>
                        <a href="#" class="title">Know exactly turned</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$14.20</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="/images/ladies/4.jpg" alt="" /></a></p>
                        <a href="#" class="title">You think fast</a><br/>
                        <a href="#" class="category">World once</a>
                        <p class="price">$31.45</p>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="item">
                  <ul class="thumbnails">
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/ladies/5.jpg" alt="" /></a></p>
                        <a href="#" class="title">Know exactly</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$22.30</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/ladies/6.jpg" alt="" /></a></p>
                        <a href="#" class="title">Ut wisi enim ad</a><br/>
                        <a href="#" class="category">Commodo consequat</a>
                        <p class="price">$40.25</p>
                      </div>
                    </li>
                    <li class="spacol-lg-3 col-md-3 col-sm-3 col-xs-3n3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/ladies/7.jpg" alt="" /></a></p>
                        <a href="#" class="title">You think water</a><br/>
                        <a href="#" class="category">World once</a>
                        <p class="price">$10.45</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/ladies/8.jpg" alt="" /></a></p>
                        <a href="#" class="title">Quis nostrud exerci</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$35.50</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="title">
              <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
            </h4>

            <div id="myCarousel-2" class="myCarousel carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails">
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
                        <a href="#" class="title">Ut wisi enim ad</a><br/>
                        <a href="#" class="category">Commodo consequat</a>
                        <p class="price">$25.50</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
                        <a href="#" class="title">Quis nostrud exerci tation</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$17.55</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware6.jpg" alt="" /></a></p>
                        <a href="#" class="title">Know exactly turned</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$25.30</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware5.jpg" alt="" /></a></p>
                        <a href="#" class="title">You think fast</a><br/>
                        <a href="#" class="category">World once</a>
                        <p class="price">$25.60</p>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="item">
                  <ul class="thumbnails">
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware4.jpg" alt="" /></a></p>
                        <a href="#" class="title">Know exactly</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$45.50</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware3.jpg" alt="" /></a></p>
                        <a href="#" class="title">Ut wisi enim ad</a><br/>
                        <a href="#" class="category">Commodo consequat</a>
                        <p class="price">$33.50</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
                        <a href="#" class="title">You think water</a><br/>
                        <a href="#" class="category">World once</a>
                        <p class="price">$45.30</p>
                      </div>
                    </li>
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="product-box">
                        <p><a href="#"><img src="/images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
                        <a href="#" class="title">Quis nostrud exerci</a><br/>
                        <a href="#" class="category">Quis nostrud</a>
                        <p class="price">$25.20</p>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row feature_box">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="service">
              <div class="customize">
                <img src="/images/feature_img_1.png" alt="" />
                <h4>FREE <strong>SHIPPING</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="service">
              <div class="customize">
                <img src="/images/feature_img_1.png" alt="" />
                <h4>FREE <strong>SHIPPING</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="service">
              <div class="support">
                <img src="/images/feature_img_3.png" alt="" />
                <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="our_client">
    <h4 class="title">
      <span class="text">Manufactures</span>
    </h4>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/14.png"></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/35.png"></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/1.png"></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/2.png"></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/3.png"></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="#"><img alt="" src="/images/clients/4.png"></a>
      </div>
    </div>
  </section>



</div>
<!-- END WRAPPER -->