<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="tetraceratops-team">
    <meta name="keyword" content="tetraceratops">
    <meta name="description" content="tetraceratops team will make our life better and better">
    <link rel="shortcut icon" href="/favicon.ico">

    <title><%= Tetraceratops::Configuration['name'] %></title>


    <%= csrf_meta_tag %>
    <%= action_cable_meta_tag %>


    <%= stylesheet_link_tag    'application' %>


    <%= javascript_include_tag 'application' %>

    <style type="text/css">

    </style>
  </head>

  <!-- BEGIN BODY -->
  <body>

    <!--[if lt IE 7]>
    <p class="browsehappy">您的浏览器<strong>版本过低</strong>. 请<a href="http://browsehappy.com/">更新您的浏览器</a>.</p>
    <![endif]-->

    <!-- header -->
    <%= render partial: 'layouts/header' %>

    <!-- wrapper -->
    <%= render partial: 'layouts/wrapper' %>

    <!-- footer -->
    <%= render partial: 'layouts/footer' %>

  </body>

</html>
